$primary-color: #3a2373;

$font-text: 'Onest', sans-serif;
$font-subtitles: 'Pixelify Sans', cursive;
$font-Titles: 'Raleway', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: beige;
}